@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #f5f5f5;
  --secondary-color: #1db954;
  --tetary-color: #101100;
  --background-color-nav: #101010;
  --background-color-main: #ececec;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 100px;
}
