.Navbar{
    display: flex;
    flex-direction: column;
    height: 10rem;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--tetary-color);
    backdrop-filter: blur(4px);
    transition: 1s all ease-in-out;
    z-index: 1000;
    
    &.active{
        background-color: var(--primary-color);
        color: black;
        border-bottom: 1px solid rgba(126, 126, 126, 0.9);

    }

    .Navbar__container{
        width: 80%;
        color: var(--tetary-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;

        .Navbar__logo{
            font-size: 1.4rem;
            font-weight: 700;
            text-decoration: none;
            padding: 0 20px;

            h1{
                color: var(--primary-color);

                &.active{
                    color: var(--tetary-color);
                }
            }
        }

        .Navbar__links{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            margin-right: 2rem;
            a{
                text-decoration: none;
                color: var(--tetary-color);
                font-size: 1.2rem;
                font-weight: 500;
                padding: 0 10px;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: black;
                    background-color: var(--primary-color);
                    border-radius: 5px;
                }
        }
        .user{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            margin-right: 2rem;
            cursor: pointer;

            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            .userMenu{
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 50px;
                right: 0;
                padding: 20px;
                gap: 1rem;
                border-radius: 10px;
                border: 1px solid black;
                background-color: rgba(255, 255, 255, 0.5);
                width: 200px;
                
                span{
                    font-weight: 300;
                    font-size: 1rem;
                }
            }
        }
        button{
            text-align: center;
            background-color: var(--primary-color);
            color: var(--secondary-color);
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
            padding: 2px 5px;
            border: 1px solid var(--tetary-color);
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            &:hover{
                border: var(--primary-color);
                background-color: var(--background-color-nav);
                color: var(--primary-color);
            }
        }
        }
    }

    .bar{   
        width: 1400px;
        height: 2px;
        background-color: rgba(126, 126, 126, 0.9);
        outline: none;
    }

    .Navbar__submenu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        cursor: pointer;
        color: var(--tetary-color);
        font-size: 1.2rem;
        font-weight: 400;
        transition: 0.5s all ease;
        padding-top: 0.5rem;
    }

}